<app-base-page></app-base-page>>
<div class="text-center">
  <img src="../../../assets/IMG_4529 b.jpg" alt=""  style="height:400px; width:400px">
  <p>I am Gobind Dhaliwal</p>
  <p>I am pursuing Advanced Diploma in Software Engineering Technology from</p>
  <p>Centennial College</p>
  <p>I have done course like C#,ASP.NET,Mobile Application Development, Fundamentals of Computer Networks</p>
  <p class="text-bold">Please check my resume by clicking on the link below.</p>
<a href="../../../assets/Resume.pdf" class="btn btn-primary">Resume</a>
</div>
