<app-base-page></app-base-page>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Description</th>
      <th scope="col">Technologies Used</th>
      <th scope="col">Details</th>
      <!--Provide details of project -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ecommerce Application</td>
      <td>An e-commerce application to facilitate online buying and selling of products</td>
      <td>Android Studio,MySQL Lite Database,JSON</td>
      <td> <a routerLink="/projectdetails1" class="btn btn-primary">Details</a>
      </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Inventrac</td>
        <td>Inventory Management System</td>
        <td>ASP.NET,Microsoft SQL Server,AWS web Services</td>
        <td> <a routerLink="/projectdetails2" class="btn btn-primary">Details</a>
        </td>
        </tr>
        <tr>
        <th scope="row">3</th>
    <td>G5 Buy</td>
    <td>Retail application</td>
    <td>Android Studio,SQL lite, OAuth, Facebook API, JSON</td>
    <td> <a routerLink="/projectdetails3" class="btn btn-primary">Details</a>
    </td>
    </tr>
