<app-base-page></app-base-page>>
<div class="text-center">
  <h1>Services offered</h1>
  <h2>I am fluent in following technologies</h2>
  </div>
  <div class="text-center">
      <img src="../../../assets/asp.net.png" alt=""  style="height:200px; width:200px">
      <p >I have done courses and projects in ASP.NET</p>
  </div>
  <div class="text-center">
      <img src="../../../assets/ccna.png" alt=""  style="height:200px; width:200px">
      <p >I have complete beginner training of CCNA and also did certificate program with HCL.</p>
      <p>I can configure VLANs, Switches, Routers</p>
  </div>
  <div class="text-center">
      <img src="../../../assets/java.png" alt=""  style="height:200px; width:200px">
      <p >I have done core and advanced java and have done coding in Java SE and Java EE</p>
  </div>
  <div class="text-center">
      <img src="../../../assets/android studio.png" alt=""  style="height:200px; width:200px">
      <p >I have developed applications in Android studio.</p>
  </div>
