<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>An e-commerce application where we create a user login and registration</p>
<p>We used JSON data to populate our product list</p>
<p>Used SMS service for android</p>
<img src="../../assets/BeFunky-collage (1).jpg" alt="" style="height:500px;width:500px">
<p></p>

</body>
</html>

